// font-family: itc-avant-garde-gothic-pro, sans-serif;

// font-weight: 700;

// font-style: normal;

// font-family: itc-avant-garde-gothic-pro, sans-serif;

// font-weight: 300;

// font-style: normal;

//COLORS

$midnight:#001341;
$mustard:#d3b400;
$canvas:#fbf1b6;
$cayenne:#f92e3f;
$shell:#f1ded8;
$navy:#0c2666;
$indigo:#142D6C;
$white:#FCFCFC;


//FONT IMPORTS & STYLES



$margin:20px;
$padding:20px;